Repository codecov/codecov-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruffcheck, rufffmt

rustfmt:
  name: cargo fmt
  entry: cargo fmt
  args:
  - --check
  - --
  require_serial: true
  language: system

clippy:
  name: cargo clippy
  entry: cargo clippy
  args:
  - --
  - -D
  - warnings
  require_serial: true
  pass_filenames: false
  language: system

ruffcheck:
  name: ruff check
  entry: ruff check
  require_serial: true
  language: system

rufffmt:
  name: ruff format
  entry: ruff format
  require_serial: true
  language: system

initialize maturin package
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  bindings/Cargo.toml
  bindings/src/lib.rs
  codecov.yml
  pyproject.toml
  python/codecov_rs/__init__.py
  python/codecov_rs/dummy_add.py
  python/codecov_rs/dummy_add.pyi
  python/codecov_rs/py.typed
  python/requirements.dev.txt
  python/tests/test_lib.py
Due: rustfmt, clippy, ruffcheck, rufffmt

Parse `report_json` files with serde
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/benches/pyreport.rs
  core/src/error.rs
  core/src/parsers/pyreport/mod.rs
  core/src/parsers/pyreport/report_json.rs
  core/src/report/mod.rs
  core/tests/test_pyreport_shim.rs
Due: rustfmt, clippy

Parse `report_json` files with serde (#18)
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/benches/pyreport.rs
  core/src/error.rs
  core/src/parsers/pyreport/mod.rs
  core/src/parsers/pyreport/report_json.rs
  core/src/report/mod.rs
  core/tests/test_pyreport_shim.rs
Due: rustfmt, clippy

Add `.envrc` and improve tooling
  .envrc
  .github/workflows/ci.yml
  .gitignore
  .python-version
  bindings/Cargo.toml
  pyproject.toml
  python/requirements.dev.txt
Due: none

Add benchmark for `chunks` parsing
  .gitattributes
  core/benches/pyreport.rs
  core/fixtures/.gitattributes
Due: rustfmt, clippy

Add benchmark for `chunks` parsing (#30)
  .gitattributes
  core/benches/pyreport.rs
  core/fixtures/.gitattributes
Due: rustfmt, clippy

Add `.envrc` and improve tooling (#29)
  .envrc
  .github/workflows/ci.yml
  .gitignore
  .python-version
  bindings/Cargo.toml
  pyproject.toml
  python/requirements.dev.txt
Due: none

create test_utils crate to house all fixtures and reusable helpers
  Cargo.lock
  Cargo.toml
  README.md
  core/Cargo.toml
  core/benches/pyreport.rs
  core/tests/common/mod.rs
  core/tests/test_pyreport_shim.rs
  test_utils/Cargo.toml
  test_utils/fixtures/.gitattributes
  test_utils/fixtures/pyreport/codecov-rs-chunks-d2a9ba1.txt
  test_utils/fixtures/pyreport/codecov-rs-reports-json-d2a9ba1.txt
  test_utils/fixtures/pyreport/large/worker-c71ddfd4cb1753c7a540e5248c2beaa079fc3341-chunks.txt
  test_utils/fixtures/pyreport/large/worker-c71ddfd4cb1753c7a540e5248c2beaa079fc3341-report_json.json
  test_utils/src/lib.rs
Due: rustfmt, clippy

create test_utils crate to house all fixtures and reusable helpers
  Cargo.lock
  Cargo.toml
  README.md
  codecov.yml
  core/Cargo.toml
  core/benches/pyreport.rs
  core/tests/common/mod.rs
  core/tests/test_pyreport_shim.rs
  test_utils/Cargo.toml
  test_utils/fixtures/.gitattributes
  test_utils/fixtures/pyreport/codecov-rs-chunks-d2a9ba1.txt
  test_utils/fixtures/pyreport/codecov-rs-reports-json-d2a9ba1.txt
  test_utils/fixtures/pyreport/large/worker-c71ddfd4cb1753c7a540e5248c2beaa079fc3341-chunks.txt
  test_utils/fixtures/pyreport/large/worker-c71ddfd4cb1753c7a540e5248c2beaa079fc3341-report_json.json
  test_utils/src/fixtures.rs
  test_utils/src/lib.rs
Due: rustfmt, clippy

SqliteReportBuilder: pull rng from test_utils instead of dependency injection
  Cargo.lock
  README.md
  core/Cargo.toml
  core/src/parsers/pyreport/mod.rs
  core/src/report/pyreport/chunks.rs
  core/src/report/pyreport/report_json.rs
  core/src/report/sqlite/report.rs
  core/src/report/sqlite/report_builder.rs
  core/tests/test_pyreport_shim.rs
  test_utils/Cargo.toml
  test_utils/src/lib.rs
  test_utils/src/rng.rs
Due: rustfmt, clippy

SqliteReportBuilder: pull rng from test_utils instead of dependency injection
  .github/workflows/ci.yml
  Cargo.lock
  README.md
  core/Cargo.toml
  core/src/parsers/pyreport/mod.rs
  core/src/report/pyreport/chunks.rs
  core/src/report/pyreport/report_json.rs
  core/src/report/sqlite/report.rs
  core/src/report/sqlite/report_builder.rs
  core/tests/test_pyreport_shim.rs
  test_utils/Cargo.toml
  test_utils/src/lib.rs
  test_utils/src/rng.rs
Due: rustfmt, clippy

stop taking an RNG as an argument for parse_pyreport and SqliteReportBuilder
  Cargo.lock
  core/Cargo.toml
  core/src/parsers/pyreport/mod.rs
  core/src/report/pyreport/chunks.rs
  core/src/report/pyreport/report_json.rs
  core/src/report/sqlite/models.rs
  core/src/report/sqlite/report.rs
  core/src/report/sqlite/report_builder.rs
  core/tests/test_pyreport_shim.rs
Due: rustfmt, clippy

create test_utils module in core to share test-only helpers
  core/src/lib.rs
  core/src/parsers/pyreport/chunks.rs
  core/src/parsers/pyreport/report_json.rs
  core/src/parsers/pyreport/utils.rs
  core/src/report/mod.rs
  core/src/report/pyreport/chunks.rs
  core/src/report/pyreport/report_json.rs
  core/src/test_utils/mod.rs
  core/src/test_utils/sqlite_report.rs
  core/src/test_utils/test_report.rs
Due: rustfmt, clippy

sqlite report/builder: rename 'new' to 'open'
  core/examples/sql_to_pyreport.rs
  core/src/parsers/pyreport/mod.rs
  core/src/report/pyreport/chunks.rs
  core/src/report/pyreport/report_json.rs
  core/src/report/sqlite/models.rs
  core/src/report/sqlite/report.rs
  core/src/report/sqlite/report_builder.rs
  core/src/test_utils/sqlite_report.rs
  core/tests/test_pyreport_shim.rs
Due: rustfmt, clippy

make parse_pyreport take a sqlite report builder instead of an out path
  core/examples/parse_pyreport.rs
  core/src/parsers/pyreport/mod.rs
  core/tests/test_pyreport_shim.rs
Due: rustfmt, clippy

python bindings for parse_pyreport and SqliteReportBuilder
  bindings/src/error.rs
  bindings/src/lib.rs
  python/codecov_rs/dummy_add.py
  python/codecov_rs/dummy_add.pyi
  python/codecov_rs/report.py
  python/codecov_rs/report.pyi
  python/tests/test_lib.py
Due: rustfmt, clippy, ruffcheck, rufffmt

new python bindings: `SqliteReportBuilder.from_pyreport()` (#36)
  bindings/src/error.rs
  bindings/src/lib.rs
  core/examples/parse_pyreport.rs
  core/examples/sql_to_pyreport.rs
  core/src/parsers/pyreport/mod.rs
  core/src/report/pyreport/chunks.rs
  core/src/report/pyreport/report_json.rs
  core/src/report/sqlite/models.rs
  core/src/report/sqlite/report.rs
  core/src/report/sqlite/report_builder.rs
  core/src/test_utils/sqlite_report.rs
  core/tests/test_pyreport_shim.rs
  python/codecov_rs/dummy_add.py
  python/codecov_rs/dummy_add.pyi
  python/codecov_rs/report.py
  python/codecov_rs/report.pyi
  python/tests/test_lib.py
Due: rustfmt, clippy, ruffcheck, rufffmt

add workflow to release to PyPI on GH release creation
  .github/workflows/publish.yml
Due: none

add dependabot config
  .github/dependabot.yml
Due: none

little readme updates
  README.md
Due: none

add dependabot config (#39)
  .github/dependabot.yml
Due: none

little readme updates (#40)
  README.md
Due: none

add workflow to release to PyPI on GH release creation (#38)
  .github/workflows/publish.yml
Due: none

Start parsing the `chunks` file with serde
  core/benches/pyreport.rs
  core/src/parsers/pyreport/chunks_serde.rs
  core/src/parsers/pyreport/mod.rs
Due: rustfmt, clippy

Use `memchr`-based splitting instead of an iterator/event-based interface
  Cargo.lock
  core/Cargo.toml
  core/benches/pyreport.rs
  core/src/parsers/pyreport/chunks_serde.rs
Due: rustfmt, clippy

get closer to the existing parser interface dealing with report builders
  core/benches/pyreport.rs
  core/src/error.rs
  core/src/parsers/pyreport/chunks_serde.rs
  core/src/report/pyreport/types.rs
Due: rustfmt, clippy

disable non-security dependabot PRs
  .github/dependabot.yml
Due: none

fix tempfile usage in python tests on windows
  python/tests/test_lib.py
Due: ruffcheck, rufffmt

fix tempfile usage in python tests on windows (#50)
  python/tests/test_lib.py
Due: ruffcheck, rufffmt

disable non-security dependabot PRs (#49)
  .github/dependabot.yml
Due: none

[do not merge] debug maturin ci for aarch64 linux
  .github/workflows/publish.yml
Due: none

use correct python version in maturin ci for aarch64
  .github/workflows/publish.yml
Due: none

use correct python version in maturin ci for aarch64 (#55)
  .github/workflows/publish.yml
Due: none

get maturin ci passing completely
  .github/workflows/publish.yml
  test_utils/fixtures/pyreport/.gitattributes
Due: none

get maturin ci passing completely (#56)
  .github/workflows/publish.yml
  test_utils/fixtures/pyreport/.gitattributes
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  ruffcheck: any of: \.py$
  rufffmt: any of: \.py$
