Repository codecov/codecov-rs: changes, and which Codecov flags are due for each by the changed paths.
All: core, bindings, python

codecov.yml:

comment:
  layout: "condensed_header, diff, condensed_files, components, condensed_footer"

ignore:
  - "test_utils/"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1 # 1% drops are frowny, 0.1% drops are fine
    patch:
      default:
        target: auto
        threshold: 1 # 1% drops are frowny, 0.1% drops are fine

component_management:
  individual_components:
    - component_id: rust_core
      name: core
      paths:
        - core/**

    - component_id: rust_bindings
      name: bindings
      paths:
        - bindings/**

    - component_id: python_package
      name: python
      paths:
        - python/codecov_rs/**

Add `rust-maintain` to auto-update Dependencies and auto-fix lints
  .github/workflows/crate-maintenance.yml
Due: none

Update CI and use `nextest`
  .config/nextest.toml
  .github/workflows/ci.yml
  .gitignore
Due: none

Fix lints and broken intra-doc links
  .github/workflows/ci.yml
  Cargo.toml
  core/benches/pyreport.rs
  core/src/lib.rs
  core/src/parsers/pyreport/chunks.rs
  core/src/parsers/pyreport/utils.rs
  core/src/report/pyreport/mod.rs
  core/src/report/pyreport/types.rs
  core/src/report/sqlite/models.rs
  core/src/report/sqlite/report_builder.rs
  core/src/test_utils/sqlite_report.rs
Due: core

Add `rust-maintain` to auto-update Dependencies and auto-fix lints (#58)
  .github/workflows/crate-maintenance.yml
Due: none

Crate maintenance
  Cargo.lock
  core/src/report/sqlite/report_builder.rs
Due: core

Update CI and use `nextest` (#59)
  .config/nextest.toml
  .github/workflows/ci.yml
  .gitignore
  Cargo.toml
  core/benches/pyreport.rs
  core/src/lib.rs
  core/src/parsers/pyreport/chunks.rs
  core/src/parsers/pyreport/utils.rs
  core/src/report/pyreport/mod.rs
  core/src/report/pyreport/types.rs
  core/src/report/sqlite/models.rs
  core/src/report/sqlite/report_builder.rs
  core/src/test_utils/sqlite_report.rs
Due: core

Migrate benchmarks to criterion and setup `codspeed`
  .github/workflows/bench.yml
  Cargo.lock
  core/Cargo.toml
  core/benches/pyreport.rs
Due: core

Migrate benchmarks to criterion and setup `codspeed` (#60)
  .github/workflows/bench.yml
  Cargo.lock
  core/Cargo.toml
  core/benches/pyreport.rs
Due: core

Optimize `save_report_lines` a bit
  core/src/parsers/pyreport/utils.rs
  core/src/report/mod.rs
  core/src/report/sqlite/models.rs
  core/src/report/sqlite/report_builder.rs
  core/src/test_utils/test_report.rs
Due: core

Start parsing the `chunks` file with serde
  core/benches/pyreport.rs
  core/src/parsers/pyreport/chunks_serde.rs
  core/src/parsers/pyreport/mod.rs
Due: core

Use `memchr`-based splitting instead of an iterator/event-based interface
  Cargo.lock
  core/Cargo.toml
  core/benches/pyreport.rs
  core/src/parsers/pyreport/chunks_serde.rs
Due: core

get closer to the existing parser interface dealing with report builders
  core/benches/pyreport.rs
  core/src/error.rs
  core/src/parsers/pyreport/chunks_serde.rs
  core/src/report/pyreport/types.rs
Due: core

insert all datapoints
  core/src/parsers/pyreport/chunks_serde.rs
Due: core

Implement missing chunks parser features
  core/benches/pyreport.rs
  core/src/parsers/pyreport/chunks_serde.rs
  core/src/parsers/pyreport/report_json.rs
  core/src/report/models.rs
  core/src/report/pyreport/types.rs
  test_utils/src/fixtures.rs
Due: core

rip out old chunks parser
  core/benches/pyreport.rs
  core/src/error.rs
  core/src/parsers/pyreport/chunks.rs
  core/src/parsers/pyreport/chunks_serde.rs
  core/src/parsers/pyreport/mod.rs
  core/tests/test_pyreport_shim.rs
Due: core

remove all winnow-related code
  Cargo.lock
  core/Cargo.toml
  core/src/parsers/common.rs
  core/src/parsers/json.rs
  core/src/parsers/mod.rs
  core/src/parsers/pyreport/chunks.rs
  core/src/parsers/pyreport/utils.rs
  core/src/report/models.rs
  core/src/report/pyreport/chunks.rs
  core/src/report/pyreport/report_json.rs
  core/src/report/pyreport/types.rs
  core/src/report/sqlite/models.rs
Due: core

fix CI failures
  .github/workflows/ci.yml
  core/src/parsers/pyreport/chunks.rs
  core/src/parsers/pyreport/mod.rs
Due: core

switch to stable rust and reformat imports
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  README.md
  bindings/src/error.rs
  bindings/src/lib.rs
  core/benches/pyreport.rs
  core/examples/parse_pyreport.rs
  core/examples/sql_to_pyreport.rs
  core/src/error.rs
  core/src/lib.rs
  core/src/parsers/pyreport/chunks.rs
  core/src/parsers/pyreport/mod.rs
  core/src/parsers/pyreport/report_json.rs
  core/src/parsers/pyreport/utils.rs
  core/src/report/pyreport/chunks.rs
  core/src/report/pyreport/mod.rs
  core/src/report/pyreport/report_json.rs
  core/src/report/sqlite/mod.rs
  core/src/report/sqlite/models.rs
  core/src/report/sqlite/report.rs
  core/src/report/sqlite/report_builder.rs
  core/src/test_utils/sqlite_report.rs
  core/src/test_utils/test_report.rs
  core/tests/test_pyreport_shim.rs
  rust-toolchain.toml
  rustfmt.toml
  test_utils/src/fixtures.rs
Due: core, bindings

chore(ci): upgrade to v5
  .github/workflows/ci.yml
Due: none

Crate maintenance
  Cargo.lock
Due: none

ci: remove Enforce License Compliance workflow
  .github/workflows/enforce-license-compliance.yml
Due: none

Rebrand ownership references from Functional Software/Sentry to Harness
  LICENSE.md
Due: none

Rebrand ownership references from Functional Software/Sentry to Harness (#69)
  LICENSE.md
Due: none

Bump pyo3 to 0.29 and mark SqliteReportBuilder unsendable.
  Cargo.lock
  bindings/Cargo.toml
  bindings/src/lib.rs
Due: bindings

Bump pyo3 to 0.29 and mark SqliteReportBuilder unsendable. (#70)
  Cargo.lock
  bindings/Cargo.toml
  bindings/src/lib.rs
Due: bindings

Crate maintenance
  Cargo.lock
  core/src/parsers/common.rs
  core/src/parsers/json.rs
  core/src/parsers/pyreport/chunks.rs
  core/src/parsers/pyreport/mod.rs
  core/src/parsers/pyreport/utils.rs
  core/src/report/pyreport/chunks.rs
  core/src/report/pyreport/report_json.rs
  core/src/report/sqlite/models.rs
  core/src/test_utils/sqlite_report.rs
  core/tests/test_pyreport_shim.rs
Due: core
